body{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(230, 116, 46, 0.397);

}
h1{
    color: rgba(246, 92, 9, 0.936);

}
form{
    text-align: center;
    background-color: bisque;
    max-width: 450px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgb(204, 122, 22);
   

}
#temp{
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: rgba(174, 12, 12, 0.865);
    border-radius: 5px;
    border: 2px solid rgb(200, 62, 16);
    font-weight: bold;
    box-shadow: -2px -2px 10px rgb(231, 104, 58);
    margin-bottom: 10px;
}
label{
    font-size: 20px;
    font-weight:bold;
    color: rgba(205, 66, 12, 0.947);
}

#result{
    color: rgb(232, 91, 10);
    font-weight: bold;
    font-size: 30px;

}
button{
    width:100px;
    font-size: large;
    font-style:'Trebuchet MS' ;
    color: rgb(50, 29, 4);
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background-color: rgba(147, 87, 9, 0.5);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(234, 123, 67);
    transition: background-color color box-shadow 1s;
}
button:active{
    background-color: rgb(216, 155, 63);
    color: bisque;
    box-shadow:-3px -3px 10px rgb(234, 123, 67); 
}
button:hover{
    background-color:rgba(214, 127, 15, 0.5) ;
}